body {
background-color: black;
color: white;
font-size: 30px;
}

.containz{
    width: 75%;
    height: 90%;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.pickbox{
    width: 40%;
    margin: 15px;
    height: 100%;
    position: relative;
    display: inline-block;
    background: grey;
    
}